:root {
  --brand1: #fff426;
  --brand2: #f8b500;
  --white: white;
  --charcoal: rgb(55, 55, 55);
  --lightgrey: lightgray;
  --darkgrey: darkgrey;
}
.body,
.html,
.main {
  background: white;
}
a:visited {
  color: var(--charcoal);
}
/* Buttons */
.btn {
  background: white;
  border-color: #d6d6d6;
}

.btn-learn-more {
  color: rgb(45, 45, 45);
}

.btn-learn-more:hover {
  box-shadow: var(--darkgrey) 0px 0px 10px;
  color: var(--white);
  text-shadow: 0px 0px 2px var(--lightgrey);
}
.btn-add-to-cart {
  color: black;
  background-color: var(--brand1); /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    var(--brand1) -1%,
    var(--brand2) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    var(--brand1) -1%,
    var(--brand2) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    var(--brand1) -1%,
    var(--brand2) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff426', endColorstr='#f8b500',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  box-shadow: var(--lightgrey) 0px 0px 5px;
}

.btn-add-to-cart:hover {
  box-shadow: var(--darkgrey) 0px 0px 10px;
  color: var(--white);
  text-shadow: 0px 0px 2px var(--lightgrey);
}
.btn-add-to-cart:disabled {
  background: var(--lightgrey);
  color: var(--charcoal);
  box-shadow: none;
}

/* Check-Out Modal */
.checkout-body {
  color: black;
  background: var(--white);
}
.items-table > table td,
.items-table td:nth-child(2) {
  border-color: var(--lightgrey);
}

/* Navigation/Search */

.top-nav {
  color: white;
  z-index: 1;
  background-color: var(--brand1); /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    var(--white) 35%,
    var(--brand2) 85%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    var(--white) 35%,
    var(--brand2) 85%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    var(--white) 35%,
    var(--brand2) 85%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff426', endColorstr='#f8b500',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
}

.btn-cart {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.658);
  background-color: #fff426; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    var(--brand1) -1%,
    var(--brand2) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    var(--brand1) -1%,
    var(--brand2) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    var(--brand1) -1%,
    var(--brand2) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff426', endColorstr='#f8b500',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
}
.btn-cart > i > .car-items-num {
  color: var(--charcoal);
}

/* Product Preview Modal */
.modal {
  background-color: rgba(0, 0, 0, 0);
}
.product-preview-modal {
  background: white;
  /* border-color: grey; */
  box-shadow: black;
}

/* ProductDetailView.js */
.breadcrumbs {
  color: var(--charcoal);
}
.breadcrumbs span {
  color: var(--charcoal);
}
.info-bar {
  border-color: lightgrey;
}
.info-bar .stock-info {
  border-right-color: var(--lightgrey);
}
.price i {
  color: var(--charcoal);
}
.divider {
  color: var(--charcoal);
}

.product-description {
  border-bottom-color: var(--lightgrey);
}

.sales-rep-table td:nth-child(2) {
  border-left-color: lightgrey;
}
.sales-rep-table td {
  border-bottom-color: lightgrey;
}
