/* Extra 'Normalization' */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* html {
  scroll-behavior: smooth;
} */

/* Buttons */
button {
  border: none;
  background: none;
}
i {
  cursor: pointer;
}
.btn {
  cursor: pointer;
  transition: all 0.2s;
  padding: 7px 10px;
  border: 1px solid;
}
.btn-price {
  border-right: none;
}

.btn-learn-more {
  border-right: none;
}
.btn-add-to-cart {
  border-left: none;
}
.btn-block {
  width: 100%;
  border: none;
  margin-top: px;
}

.preview-footer .btn {
  box-shadow: none;
  font-size: 1rem;
}

/* Navigation/Search */

.top-nav {
  position: fixed;
  top: 20px;
  left: 47.5%;
  transform: translateX(-50%);
  font-size: 32px;
  width: 88vw;
  height: 50px;
}

.btn-cart {
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -5px;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  padding: 13px;
  box-sizing: content-box;
}

.btn-cart i {
  transform: translate(-7%, 0%);
}

.btn-cart > i > .car-items-num {
  font-size: 0.9rem;
  position: absolute;
  top: 6px;
  left: 17px;
  text-shadow: none;
  font-weight: 400;
}

.nav-logo {
  float: left;
}

.nav-logo {
  height: 50px;
  padding-left: 10px;
}

.nav-logo > img {
  height: 100%;
}

/* Checkout Modal */

.checkout-body {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: scroll;
  padding: 20px 25px;
  width: 80vw;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 150px;
}

.checkout-body .header {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}
.items-table {
  width: 100%;
}

.items-table table {
  width: 100%;
}

.items-table > table {
  font-size: 0.85rem;
}
.items-table th {
  text-align: left;
  padding-left: 2px;
  padding-bottom: 3px;
}

.items-table td:first-child {
  font-weight: 400;
  padding-right: 10px;
}

.items-table td:nth-child(2) {
  border-left: solid 1px;
  padding-left: 10px;
  width: 25%;
}
.items-table td {
  border-bottom: solid 1px;
  padding-bottom: 5px;
  padding-top: 5px;
}
/* Thumbnails View */

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;
  margin: auto;
  box-sizing: border-box;
}

.container .feed-thumbnail-wrap {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
}

.feed-thumbnail-wrap {
  cursor: pointer;
  width: 50%;
  box-sizing: border-box;
  transition: all 0.2s;
}

.feed-thumbnail-wrap > span.thumbnail-name {
  position: relative;
  top: 200px;
  right: -15%;
  border: 1px solid;
  padding: 5px;
  width: 65%;
  display: inline-block;
}

.feed-thumbnail {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
/* .container > .col-1 img {
  width: 47vw;
  height: 47vw;
  margin: 1.5vw;
} */

/* Product Preview Modal */

.modal {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; */
}

.product-preview-modal {
  padding: 25px;
  position: fixed;
  width: 80vw;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 150px;
}
.product-preview-modal > i {
  font-size: 1.2rem;
}
.product-preview-modal .preview-header {
  width: 90%;
}

.big-thumbnail {
  transition-delay: 0.5s;
  transition: all 0.5s;
}
.big-thumbnail {
  padding: 10px 0 10px 0px;
}
.big-thumbnail img {
  width: 270px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.preview-footer {
  margin-top: 10px;
  text-align: center;
}

/* ProductDetailView.js */

.product-detail-container {
  box-sizing: border-box;
  padding: 15px;
}
.breadcrumbs {
  margin-top: 50px;
  padding-left: 30px;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.product-name {
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.2s;
}

.product-image img {
  width: 100%;
}
.info-bar {
  font-size: 0.95rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
  margin-top: 13px;
  padding-top: 7px;
  padding-bottom: 6px;
  width: 100%;
  border: 1px solid;
  border-left: none;
  border-right: none;
}
.info-bar .price {
  display: inline-block;
}

.info-bar .stock-info {
  display: inline-block;
}
.product-description {
  width: 100%;
  margin-top: 15px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.product-description em {
  font-size: 0.9rem;
  margin-top: 15px;
  margin-right: 15px;
  float: right;
}

.product-description-empty {
  margin-top: 0px;
  padding-left: 5px;
  margin-bottom: 7px;
}

.product-description-empty > em {
  font-size: 0.9rem;
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
  float: none;
}
.suggested-items {
  width: 100%;
}
.suggested-item {
  width: 33%;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
}

.suggested-item img {
  transition: 0.2s all;

  width: 100%;
}
.sales-rep {
  margin-top: 13px;
  padding-left: 3px;
}

.sales-rep > h3 {
  font-size: 0.95rem;
  font-weight: 400;
  margin-bottom: 4px;
}
.sales-rep-table {
  float: left;
}
.sales-rep-table table {
  font-size: 0.9rem;
}
.sales-rep-table table {
  width: 90vw;
}
img.sales-rep-img {
  width: 90px;
  margin-left: 15px;
  margin-top: 5px;
}
.sales-rep-table td:first-child {
  font-weight: 400;
  padding-right: 10px;
}

.sales-rep-table td:nth-child(2) {
  border-left: solid 1px;
  padding-left: 10px;
  width: 70%;
}
.sales-rep-table td {
  border-bottom: solid 1px;
  padding-bottom: 5px;
  padding-top: 5px;
}
