@media screen and (min-width: 40.5em) {
  .container > img {
    width: 25vw;
    height: 25vw;
    margin: auto;
  }
  .product-preview-modal {
    max-width: 600px;
  }
  .product-preview-modal .preview-header {
    padding: 5px;
    width: 80%;
  }

  h2 {
    font-size: 1.7rem;
  }
  .btn {
    font-size: 1.2rem;
  }
  .preview-desc p {
    font-size: 1.1rem;
  }
}
