* {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300;
}
h2 {
  font-family: "Cinzel";
  font-weight: 400;
  font-size: 1.3rem;
}

.btn {
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
}
.feed-thumbnail-wrap > span.thumbnail-name {
  font-family: "Cinzel", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}
